body {
}
#height-finder {
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
}
#intro {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#intro .main {
	margin: 7em 0 0 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#intro .main .entry-box {
	display: flex;
	flex-direction: row;
	justify-content: center;
	overflow: hidden;
}
#intro .main .entry-box.first {
	height: 4em;
}
#intro .main .entry-box.second {
	height: 6em;
}
#intro .main .entry-box.first > div {
	margin: 1.5em 0 0 0;
	font-size: 2.3em;
}
#intro .main .entry-box.second > div {
	margin: -2em 0 0 0;
	font-size: 5.2em;
	line-height: 1em;
	font-weight: 800;
}
#intro .main .subtitle {
	margin: 1em 0 1.7em 0;
	font-weight: 300;
	font-size: 1.3em;
}
#intro.show .main {
	margin: 0 0 0 0;
}
#intro.show .main .subtitle, #intro.show .main .connect {
	opacity: 1;
}
#intro.show .main .entry-box > div {
	margin: 0 0 0 0;
}
#intro .main .subtitle, #intro .main .connect {
	opacity: 0;
}
#intro.transit .main {
	transition: margin 0.5s 2.5s;
}
#intro.transit .main .subtitle
, #intro.transit .main .connect{
	transition: opacity 0.5s 2.5s;
}
#intro.transit .main .entry-box.first .one {
	transition: margin 0.5s 0.5s;
}
#intro.transit .main .entry-box.first .two {
	transition: margin 0.5s 0.7s;
}
#intro.transit .main .entry-box.second .one {
	transition: margin 0.5s 1.5s;
}
#intro.transit .main .entry-box.second .two {
	transition: margin 0.5s 1.7s;
}
#intro > svg {
	position: absolute;
	width: 60vmin;
	z-index: 0;
	fill: #fff1;
}
#intro > .main {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	z-index: 1;
}
.transit-scroll #scroll {
	transition: top 0.4s ease-out;
}
#projects {
	top: 100vh;
}
.transit-scroll #projects {
	transition: top 0.4s ease-out, offset 0.4s;
}
.transit-scroll #projects {
	transition: opacity 0.4s ease-out;
}
.projects-item {
	top: 100%;
	position: absolute;
	cursor: none;
}
.transit-scroll .projects-item {
	transition: top 0.2s ease-out, opacity 0.2s ease-out, transform 0.2s ease-out;
}
.transit-scroll .projects-item img {
	transition: transform 0.2s ease-out;
}


#clients {
	background-color: var(--bg);
	padding: 0 6em;
	top: 100vh;
	display: flex;
	flex-direction: column;
}
#clients .hscroll {
	margin-top: 4em;
	margin-left: -4em;
	width: 100vw;
	overflow-x: auto;
}
#clients .list {
	padding: 0 4em;
	display: flex;
	flex-direction: row;
	gap: 28px;
	width: fit-content;
}
#clients .list .item {
	width: 22em;
	padding: 3em;
	border-radius: 2em;
	background-color: var(--bg-light);
}
#clients .item > img {
	height: 1em;
}
#clients .item .title {
	margin: 1.2em 0 0.5em 0;
	font-size: 1.2em;
	font-weight: 400;
}
#clients .item .content {
	color: #636b78;
}
#clients .item .profile {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1em;
	margin-top: 4em;
}
#clients .item .profile > img {
	height: 3.2em;
	width: 3.2em;
	border-radius: 1.5em;
}
#clients .item .profile .name {
	font-size: 1em;
}
#clients .item .profile .company {
	color: #a1a6ad;
	font-size: 0.9em;
}

#footer {
	left: 0; right: 0;
	position: fixed;
	top: 100vh;
}

.projects-item .hover {
	font-size: 0.65em;
	font-weight: 600;
	position: absolute;
	height: 4.6em;
	width: 4.6em;
	padding: 1.5em;
	border-radius: 3.8em;
	display: none;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: -2.9em 0 0 -2.9em;
	text-align: center;
	background-color: var(--fg);
	color: var(--bg);
}
