body {
}
#height-finder {
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
}
#intro {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#intro .main {
	margin: 7em 0 0 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#intro .main .entry-box {
	display: flex;
	flex-direction: row;
	justify-content: center;
	overflow: hidden;
}
#intro .main .entry-box.first {
	height: 4em;
}
#intro .main .entry-box.second {
	height: 6em;
}
#intro .main .entry-box.first > div {
	margin: 1.5em 0 0 0;
	font-size: 2.3em;
}
#intro .main .entry-box.second > div {
	margin: -2em 0 0 0;
	font-size: 5.2em;
	line-height: 1em;
	font-weight: 800;
}
#intro .main .subtitle {
	margin: 1em 0 1.7em 0;
	font-weight: 300;
	font-size: 1.3em;
}
#intro.show .main {
	margin: 0 0 0 0;
}
#intro.show .main .subtitle, #intro.show .main .connect {
	opacity: 1;
}
#intro.show .main .entry-box > div {
	margin: 0 0 0 0;
}
#intro .main .subtitle, #intro .main .connect {
	opacity: 0;
}
#intro.transit .main {
	transition: margin 0.5s 2.5s;
}
#intro.transit .main .subtitle
, #intro.transit .main .connect{
	transition: opacity 0.5s 2.5s;
}
#intro.transit .main .entry-box.first .one {
	transition: margin 0.5s 0.5s;
}
#intro.transit .main .entry-box.first .two {
	transition: margin 0.5s 0.7s;
}
#intro.transit .main .entry-box.second .one {
	transition: margin 0.5s 1.5s;
}
#intro.transit .main .entry-box.second .two {
	transition: margin 0.5s 1.7s;
}
#intro > svg {
	position: absolute;
	width: 60vmin;
	z-index: 0;
	fill: #fff1;
}
#intro > .main {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	z-index: 1;
}
#intro.transit-scroll {
	transition: top 0.4s ease-out;
}
#projects {
	padding: 0 4em;
	top: 100vh;
	display: flex;
	flex-direction: column;
}
.screen .header {
	margin-top: 10em;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.screen .header button {
	background: none;
	padding: 0em;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1em;
	border: none;
	text-transform: uppercase;
	color: currentColor;
	fill: currentColor;
	font-size: 1em;
	padding: 0.5em 1em;
}
.screen .header button svg {
	height: 3.1em;
	width: 3.1em;
}
#projects.transit-scroll {
	transition: top 0.4s ease-out, offset 0.4s;
}
#projects.transit-scroll-opacity {
	transition: opacity 0.4s ease-out;
}
.screen .header h3 {
	font-size: 3em;
	font-weight: 300;
	margin: 0;
}
.projects-list {
	margin-top: 3em;
	flex: 1;
	overflow: hidden;
	position: relative;
}
.projects-item {
	top: 100%;
	height: calc(100vh - 24em);
	width: calc(100vw - 8em);
	position: absolute;
	background-color: var(--bg-light);
	border-radius: 5em;
	overflow: hidden;
}
.projects-list.transit-scroll .projects-item {
	transition: top 0.2s ease-out, opacity 0.2s ease-out, transform 0.2s ease-out;
}
.projects-list.transit-scroll .projects-item img {
	transition: transform 0.2s ease-out;
}

.projects-item  {
	display: flex;
	flex-direction: row;
	cursor: none;
}
.projects-item .img {
	overflow: hidden;
	margin: 2em;
	border-radius: 4em;
}
.projects-item img {
	height: 100%;
	width: 100%;
}
.projects-item .content {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.projects-item .index {
	font-size: 4em;
	color: #636b78;
}
.projects-item .title {
	font-size: 1.7em;
	font-weight: 800;
	margin: 0.3em 0 0.5em 0;
}
.projects-item .text {
	color: #a1a6ad;
	line-height: 1.9em;
}

#clients {
	background-color: var(--bg);
	padding: 0 4em;
	top: 100vh;
	display: flex;
	flex-direction: column;
}
#clients .hscroll {
	margin-top: 4em;
	margin-left: -4em;
	width: 100vw;
	overflow-x: auto;
}
#clients .list {
	padding: 0 4em;
	display: flex;
	flex-direction: row;
	gap: 28px;
	width: fit-content;
}
#clients .list .item {
	width: 22em;
	padding: 3em;
	border-radius: 2em;
	background-color: var(--bg-light);
}
#clients .item > img {
	height: 1em;
}
#clients .item .title {
	margin: 1.2em 0 0.5em 0;
	font-size: 1.2em;
	font-weight: 400;
}
#clients .item .content {
	color: #636b78;
}
#clients .item .profile {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1em;
	margin-top: 4em;
}
#clients .item .profile > img {
	height: 3.2em;
	width: 3.2em;
	border-radius: 1.5em;
}
#clients .item .profile .name {
	font-size: 1em;
}
#clients .item .profile .company {
	color: #a1a6ad;
	font-size: 0.9em;
}

#footer {
	left: 0; right: 0;
	position: fixed;
	top: 100vh;
}
.row {
	display: flex;
	flex-direction: row;
}
.column {
	display: flex;
	flex-direction: column;
}
.flex-between {
	justify-content: space-between;
}
.align-end {
	align-items: flex-end;
}
.flex {
	flex: 1;
}
.align-center {
	align-items: center;
}
#footer .main {
	background-color: var(--bg-light);
	margin: 0 4em 0 4em;
	padding: 4em;
	border-radius: 3em;
}
#footer svg.logo {
	fill: var(--fg);
	height: 3em;
	width: 3em;
	margin: 0 0 1em 0;
}
#footer .text-1 {
	font-size: 1.5em;
	font-weight: 200;
}
#footer .text-2 {
	font-size: 2.5em;
	font-weight: 600;
}
#footer .main > .row {
	gap: 5em;
}
#footer .row.first {
	margin-bottom: 2em;
}
#footer .main .content {
	font-weight: 200;
	font-size: 1.1em;
	line-height: 2em;
	margin: 1em 0 0 0;
}
#footer nav {
	display: flex;
	gap: 2em;
}
#footer nav a {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.95em;
}
#footer .to-top {
	gap: 1em;
	font-weight: 200;
	text-transform: uppercase;
	font-size: 0.9em;
}
#footer footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	gap: 2em;
	margin: 3em 4em;
}
#footer footer img {
	height: 1em;
	width: 1em;
}
.rotating-icon path.arrow {
	d: path('M9 15 L15 9 M10.5 9 L15 9 L15 13.5');
	transition: d 0.5s;
}
button:hover .rotating-icon path.arrow {
	d: path('M7.7573 12 L16.2426 12 M13.0607 8.8181 L16.2426 12 L13.0607 15.1819');
}

button {
	cursor: pointer;
}

.projects-item .hover {
	font-size: 0.65em;
	font-weight: 600;
	position: absolute;
	height: 4.6em;
	width: 4.6em;
	padding: 1.5em;
	border-radius: 3.8em;
	display: none;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: -2.9em 0 0 -2.9em;
	text-align: center;
	background-color: var(--fg);
	color: var(--bg);
}
